@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --header-btn-color: rgba(255, 82, 191, 0.219);
    --button-font-size: 1rem;
    --button-font-200: 1.3rem;

    --color-pink-100: #ff8fd8;
    --color-pink-200: #ff52bf;

    --colo-stats-description: #7e8d9a;
    --color-neutral-200: hsl(207, 100%, 98%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.header {
    padding-inline: 5rem;
    padding-block: 78px 24px;
}

.header .header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 15rem;
    height: 2.375rem;
}

.header__logo h1 {
    font-size: 3.5rem;
    font-family: sans-serif;
}

.header__button .header__button-outline {
    width: 9.2rem;
    height: 2.8rem;
    background-color: white;
    box-shadow: 0 0 9px 0 var(--header-btn-color);
    border: 1px solid var(--color-pink-100);
    font-size: var(--button-font-size);
    color: var(--color-pink-100);
    padding-block: 0.5rem;
    border-radius: 2.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-block: 12.5rem 0px;
}

.hero {
    margin-inline: 10.17rem;
}
.hero .text__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.hero .text__container h2 {
    font-size: 3rem;
}

.hero .text__container p {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.7rem;
    width: 45%;
}

.hero .text__container button {
    width: 23.5rem;
    height: 5rem;
    border-radius: 2.5rem;
    font-size: var(--button-font-200);
    background-color: var(--color-pink-200);
    margin-bottom: 8rem;
    color: white;
    font-weight: 700;
    border: none;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-inline: 10.15rem;
    padding-block: 7.5rem;
}

.stats .stats__number {
    font-family: "Poppins", sans-serif;
    font-size: clamp(3.75rem, 0rem + 9.375vw, 6rem);
}

.stats__description {
    font-family: "Open Sans", sans-serif;
    color: var(--colo-stats-description);
}

.feature__panel {
    margin-block: 6.5rem;
    position: relative;
}

.feature__panel--curve {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-neutral-200);
    padding-inline: 10.17rem;
    gap: 1rem;
}

.feature__panel--description h2 {
    font-size: clamp(1.75rem, 0rem + 5.375vw, 3rem);
    margin-bottom: 1.1rem;
}

.feature__panel--description p {
    width: 90%;
    font-size: 1rem;
}

.feature__panel--curve .feature__panel--image img {
    width: 100%;
}

.feature__panel .curve {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.feature__panel .curve--top {
    bottom: 98%;
}

.feature__panel .curve--bottom {
    top: 98%;
}

.feature__panel .desktop {
    display: block;
}

.feature__panel .mobile {
    display: none;
}

.feature__panel--solid {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-inline: 10.17rem;
    column-gap: 7.5rem;
}

.feature__panel--solid .feature__panel--image img {
    width: 100%;
}

.feature__panel--solid .feature__panel--description h2 {
    font-size: clamp(1.25rem, 0rem + 5.375vw, 2.2rem);
}

.feature__panel--solid .feature__panel--description p {
    width: 100%;
    font-size: 1rem;
}
